/* :root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */
/* body {
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.2)
    ),
    url(../img/background.jpg);
  background-size: auto;
} */

.users-table {
  border-collapse: collapse;
  margin: 3vw 0;
  font-size: 1vw;
  font-family: sans-serif;
  min-width: 450px;
  width: 75vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.15);
}

.users-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.users-table th,
.users-table td {
  padding: 1rem 1rem;
}
.users-table tbody tr {
  border-bottom: thin solid #dddddd;
}

.users-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.users-table tbody tr:last-of-type {
  border-bottom: thin solid #009879;
}
input {
  width: max-content;
  max-width: 5vw;
}

.weatherDiv {
  display: none;
  position: absolute;
  padding: 2vh;
  background: rgb(229, 241, 237);
  white-space: pre-wrap;
  right: -8vw;
  top: 2vw;
  height: max-content;
  width: max-content;

  z-index: 9999;
}
td:nth-child(6) {
  position: relative;
}
td:nth-child(6):hover > .weatherDiv {
  display: block;
}

.l1 {
  top: 3vw;
}
.l2 {
  top: 18vw;
}
.l3 {
  top: 33vw;
}
.l4 {
  top: 48vw;
}
.l5 {
  top: 63vw;
}
.l6 {
  top: 78vw;
}
.l7 {
  top: 93vw;
}

.disappear {
  display: none;
}

input[type="number"] {
  width: 3vw;
}
